<app-navbar></app-navbar>

<div class="container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="ghost">
    <h1>aaaaaaaaa</h1>
  </div>

  <div class="container-right">
    <div class="planos">
      <p style="font-weight: 500;">Planos</p>
      <div class="flex-plans">



        <div class="container-planos">
          <div class="container-planos-text">


            <p> <strong>Basic</strong></p>

            <p>Tudo o que você precisa para começar com uma IA poderosa e sem censura.</p>
            <div class="icon-flex">
              <img src="../../../../assets/icons/Vector (4).png" alt="">
              <p>Interações 100% anônimas</p>
            </div>
            <div class="icon-flex">
              <img src="../../../../assets/icons/Vector (5).png" alt="">
              <p>Respostas poderosas sem censura</p>
            </div>
            <div class="icon-flex">
              <img src="../../../../assets/icons/Vector (6).png" alt="">
              <p>10 prompts / dia</p>
            </div>
          </div>
          <div class="value">
            <div class="value-flex">
              <p>R$ <strong class="size">10</strong></p>
              <p>mensalmente</p>

            </div>
            <button>assinar</button>

          </div>
        </div>
        <div class="container-planos">
          <div class="container-planos-text">


            <p> <strong>Gold</strong></p>
            <p>Ideal para usuários frequentes que precisam de mais dados e flexibilidade.</p>
            <p>Tudo do Basic +</p>
            <div class="icon-flex">
              <img src="../../../../assets/icons/Vector (6).png" alt="">
              <p>100 prompts / dia</p>
            </div>
            <div class="icon-flex">
              <img src="../../../../assets/icons/Clip path group.png" alt="">
              <p>Consulta de dados CPF, Placas</p>
            </div>
            <div class="icon-flex">
              <img src="../../../../assets/icons/Vector (7).png" alt="">
              <p>Suporte prioritário</p>
            </div>

          </div>
          <div class="value">
            <div class="value-flex">
              <p>R$ <strong class="size">78</strong></p>
              <p>mensalmente</p>

            </div>
            <button class="button-gold">assinar</button>

          </div>
        </div>

        <div class="container-planos">
          <div class="container-planos-text">

            <p> <strong>Affiliate</strong></p>

            <p>Faça dinheiro com nossa IA, se torne um afiliado do Obizilla.</p>
            <p>Tudo do Gold +</p>
            <div class="icon-flex">
              <img src="../../../../assets/icons/Vector (4).png" alt="">
              <p>Prompts ilimitados</p>
            </div>
            <div class="icon-flex">
              <img src="../../../../assets/icons/Vector (5).png" alt="">
              <p>Acesso a comercialização do Obizilla</p>
            </div>
            <div class="icon-flex">
              <img src="../../../../assets/icons/Vector (6).png" alt="">
              <p>50% Revenue Share</p>
            </div>
          </div>
          <div class="value">
            <button class="button-affiliate">Aplicar</button>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
