<div class="side-container">
<div class="side-itens">
  <div class="flex"(click)="goToRoute('/dashboard/analitics')">
    <img src="../../assets/img/Vector (1).png" alt="">
    <p>Analytics</p>
  </div>
  <div class="flex"(click)="goToRoute('/dashboard/settings')">
    <img src="../../assets/img/Vector (2).png" alt="" >
    <p>Configurações</p>
  </div>
  <div class="flex"(click)="goToRoute('/dashboard/plans')">
    <img src="../../assets/img/Vector (3).png" alt="">
    <p>Planos</p>
  </div>

</div>

</div>
