.nav{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;

}
.nav-itens{
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.plans{

  display: flex;
  color: white;
  gap: 25px;
  align-items: center;
  justify-self: center;
  font-weight: 500;
  button{
    color:black;
    height: 35px;
    border-radius: 10px;
    width: 70px;
    font-weight: 500;
    border: 0px;
    cursor: pointer;

  }
  img{
    cursor: pointer;
  }
}


@media screen and (max-width: 868px){
  .nav-itens{
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav{
    height: 100px;
  }
}
