<app-navbar></app-navbar>

<div class="container-main">

  <div class="chat-container">
    <img src="../../../../assets/icons/obizilla favicon 1.png" alt="Mascote" class="mascote" style="width: 50px; height: 50px;">

    <div *ngFor="let message of messages" [ngClass]="{'user-message': message.sender === 'user', 'bot-response': message.sender === 'bot'}" class="message">
      <i *ngIf="message.sender === 'user'" class="pi pi-user icon"></i>
      <div class="text">{{ message.text }}</div>
    </div>

    <!-- Área de entrada de mensagem -->
    <div class="chat-input">
      <input type="text" id="userInput" placeholder="Digite sua mensagem..." (keydown.enter)="sendMessage()" />
      <button id="sendButton" (click)="sendMessage()">Enviar</button> <!-- Adicionei o ID -->
    </div>
  </div>

</div>
